/* =================== IMPORTS =================== */

/* -------- WEBFONTS -------- */

@font-face {
  font-family: Rafgins;
  src: url("../assets/fonts/Rafgins.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

/* -------- COLORS -------- */

:root {
  --color-dark: #3e4450;
  --color-light: #ffffff;
  --color-blue: #71a2b6;
  --color-green: #a6d49f;
  --color-red: #fc7753;
}

/* =================== GENERAL =================== */

* {
  margin: 0;
}

body {
  height: 100vh;
  font-family: Inter;
  padding: 0;
  margin: 0;
  background-color: var(--color-dark);
  color: var(--color-light);
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  height: 100%;
}

section > div {
  max-width: 1440px !important;
  width: 100%;
}

/* =================== BUTTONS =================== */

a:focus,
button:focus {
  /* Provide a fallback style for browsers
	 that don't support :focus-visible */
  outline: none;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
}

a:focus-visible,
button:focus-visible {
  /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
  outline: 2px solid #443ffc;
  outline-offset: 3px;
}

.button {
  font-family: Inter;
  text-transform: uppercase;
  font-size: 16px;
  pointer-events: auto;
  cursor: pointer;
  color: var(--color-light);
  background: none;
  border: none;
  padding: 1.5rem 3rem;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button img {
  max-height: 24px;
  max-width: 24px;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rounded-btn {
  border-radius: 10px;
  border: solid 1px var(--color-light);
}

.circle-btn {
  background: none;
  padding: 0;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  width: 200px;
  height: 200px;
  font-family: Inter;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  transition: all 0.8s ease;
}

.circle-btn span {
  transition: all 0.8s ease;
}

.progress {
  position: absolute;
  width: 160px;
  height: 160px;
  top: calc(50% - 80px);
  left: calc(50% - 80px);
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.circle-btn:hover {
  transform: scale(1.1);
}

.circle-btn:hover span {
  opacity: 0.6;
}

.progress__circle,
.progress__path {
  fill: none;
  stroke: var(--color-light);
  stroke-width: 0.5px;
}

.circle-btn:focus-visible .progress__circle {
  fill: var(--color-red);
}

.progress__path {
  stroke: var(--color-red);
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  transition: stroke-dashoffset 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}

.circle-btn:hover .progress__path {
  stroke-dashoffset: 0;
}

/* =================== FORMS =================== */

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

form label {
  font-family: Inter;
  text-transform: uppercase;
}

form .input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input,
form textarea {
  font-family: Inter;
  outline: none;
  background: rgba(255, 255, 255, 0.05);
  border: none;
  padding: 1.5rem 3rem;
  font-size: 16px;
  color: white;
  border-radius: 10px;
}

/* =================== HEADINGS =================== */

h1 {
  font-family: Rafgins;
  font-weight: 400;
  font-size: 150px;
  line-height: 0.8em;
}

h2 {
  font-family: Rafgins;
  font-weight: 400;
  font-size: 75px;
  line-height: 0.8em;
}

h3 {
  font-family: Rafgins;
  font-weight: 400;
  font-size: 50px;
  line-height: 1em;
}

h4 {
  font-family: Inter;
  font-weight: 400;
  font-size: 40px;
  line-height: 1em;
}

h5 {
  font-family: Inter;
  font-weight: 400;
  font-size: 30px;
  line-height: 1em;
}

h6 {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 1em;
}

p {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
}

.link {
  color: var(--color-light);
  text-decoration: none;
  opacity: 0.6;
  transition: all 0.4s ease;
  cursor: pointer;
}

.link:hover {
  opacity: 1;
}

/* =================== SECTIONS =================== */

/* ---------- HEADER ---------- */

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--color-light);
}

header nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Style for the dropdown container */
header .dropdown {
  position: relative;
  display: inline-block;
}

header .button {
  padding: 10px 30px;
}

/* Style for the dropdown content (hidden by default) */
header .dropdown-content {
  display: none;
  position: absolute;
  top: 55px;
  right: 0;
  z-index: 1;
}

/* Style for the dropdown links */
header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  transition: all 0.4s ease;
  text-decoration: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

/* Change color on hover */
header .dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 1);
}

/* Show the dropdown content when the dropdown button is clicked */
header .show {
  display: block;
}

/* ---------- FOOTER ---------- */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--color-light);
}

/* ---------- LANDING ---------- */

.landing {
  color: var(--color-light);
}

.landing h1 {
  text-align: center;
}

.landing .bottle {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  width: 600px;
}

.landing .bottle-up-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* ---------- LOGIN ---------- */

.login .login-ctn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ---------- CAPSULE ---------- */

.capsule .capsule-form-ctn {
  width: 50%;
}

.capsule .capsule-form-ctn .form-step {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.capsule .input-group {
  width: 100%;
}

.capsule #dateSelector {
  align-items: center;
  gap: 20px;
}

/* =================== RESPONSIVE =================== */

/* ---------- Laptop - 1440px to 1799px ---------- */
@media only screen and (max-width: 1799px) {
}

/* ---------- Tablet Extra - 1024px to 1439px ---------- */
@media only screen and (max-width: 1439px) {
  /* =================== HEADINGS =================== */

  h1 {
    font-size: 135px;
  }

  h2 {
    font-size: 67.5px;
  }

  h3 {
    font-size: 45px;
  }

  h4 {
    font-size: 36px;
  }

  h5 {
    font-size: 27px;
  }

  h6 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}

/* ---------- Tablet - 768px to 1023px ---------- */
@media only screen and (max-width: 1023px) {
}

/* ---------- Mobile Extra - 425px to 767px ---------- */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 108px;
  }

  h2 {
    font-size: 54px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}

/* ---------- Mobile - 320px to 424px ---------- */
@media only screen and (max-width: 424px) {
}
